/lab1/target/
/lab2/exercicis_lab2/target/
/lab2/s2_base/build/
/lab2/s2_base/nbproject/private/
/robocode/robot1/MyFirstRobot/nbproject/private/
/projecte robocode/robot1/MyFirstRobot/nbproject/private/
